* {
    box-sizing: border-box;
    margin: 0;
}
h2, h3{
    color: rgb(21, 80, 129);
    font-weight: 700 !important;
}
#bgcolor{
    background-color: rgb(0, 132, 255);
}
#headertxt{
    display: flex;
    align-items: center;
    justify-content: center;
}
#maintitle{
    color: rgb(21, 80, 129);
    font-weight: 700 !important;
    font-size: 45px !important;
    text-align: left;
    line-height: 45px;
}
#maintxt{
    color: rgb(73, 83, 116);
}
#maintxtLogo{
    font-size: 12px !important;
    color: rgb(73, 83, 116);
    font-weight: bold;
}
#mainicon{
    height: 15px;
    width: 15px;
}
#maintxtform{
    font-size: 18px !important;
    color: rgb(73, 83, 116);
    font-weight: bold;
    line-height: 3px;
    padding-left: 30px;
}
#maintxtbottom{
    padding-top: 20%;
    font-size: 17px !important;
    color: rgb(73, 83, 116);
    font-weight: bold;
}
#navHometxt{
    font-size: 22px;
    line-height: 50px;
    color: rgb(34, 100, 199);
    font-weight: bold;
}
#navtxt{
    font-size: 14px;
    line-height: 50px;
    color: rgb(73, 83, 116);
    font-weight: 600;
}
#bottomMain{
    height: 50px;
    width: 150px;
    margin-top: 80px;
    margin-bottom: 80px;
    display: block;
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
    opacity: .17;
}
#benefitstxt{
    color: rgb(73, 83, 116);
    font-size: 12px;
}
#benefitsicon{
    height: 30px;
    width: 30px;
}
#titlefooter{
    color: rgb(21, 80, 129);
    font-weight: 700 !important;
    font-size: 16px;
}
#txtfooter{
    font-size: small;
}
.containerMain{
    position: relative !important;
}
.preparation{
    margin-top: 80px;
}
.form{
    color: rgb(73, 83, 116);
    padding-top: 20px;
    position: absolute !important;
    background-color: rgb(247, 247, 247);
    left: 0;
    top: -1990px;
    right: 20%;
    bottom: 0;
    margin: auto;
    height: 90px;
    width: 70%;
}
.footer{
    background-color: rgb(234, 246, 253);
    width: 100% !important;
}
