* {
    box-sizing: border-box;
    margin: 0;
}
h2, h3{
    color: rgb(21, 80, 129);
    font-weight: 700 !important;
}
#bgcolor{
    background-color: rgb(0, 132, 255);
}
#headertxt{
    display: flex;
    align-items: center;
    justify-content: center;
}
#maintitle{
    color: rgb(21, 80, 129);
    font-weight: 700 !important;
    font-size: 45px !important;
    text-align: left;
    line-height: 45px;
}
#maintxt{
    color: rgb(73, 83, 116);
}
#maintxtLogo{
    font-size: 12px !important;
    color: rgb(73, 83, 116);
    font-weight: bold;
}
#mainicon{
    height: 15px;
    width: 15px;
}
#maintxtform{
    font-size: 18px !important;
    color: rgb(73, 83, 116);
    font-weight: bold;
    line-height: 3px;
    padding-left: 30px;
}
#maintxtbottom{
    padding-top: 20%;
    font-size: 17px !important;
    color: rgb(73, 83, 116);
    font-weight: bold;
}
#navHometxt{
    font-size: 22px;
    line-height: 50px;
    color: rgb(34, 100, 199);
    font-weight: bold;
}
#navtxt{
    font-size: 14px;
    line-height: 50px;
    color: rgb(73, 83, 116);
    font-weight: 600;
}
.containerMain{
    position: relative !important;
}
.form{
    color: rgb(73, 83, 116);
    padding-top: 20px;
    position: absolute !important;
    background-color: rgb(247, 247, 247);
    left: 0;
    top: 78%;
    right: 20%;
    bottom: 0;
    margin: auto;
    height: 90px;
    width: 70%;
}